@import './variables';

footer {
    background-color: var(--black-light);
    height: calc(60vh - 9.6rem);
    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5rem 0;
        .left,
        .center,
        .right {
            width: 320px;
            height: 200px;
            h1 {
                font-size: 20px;
                color: var(--white);
            }
        }
        .center,
        .right {
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: var(--white);
            ul {
                li {
                    list-style: none;
                    gap: 30px;
                    a {
                        font-size: 1.6rem;
                        color: var(--white);
                        text-decoration: none;
                    }
                }
            }
        }
        .left {

            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 150px;
                height: auto;
            }
        }
        .right {
            .icons {
                width: 100%;
                height: 20px;
                justify-content: center;
                display: flex;
                gap: 20px;
                i{
                    font-size: 20rem;
                    color: var(--white);
                }
            }
        }
    }
}