@import './variables';

footer {
    background-color: var(--black-light);
    padding: 60px 0px;
    .container {
        width: 100%;
        @include flex(row, flex-start, space-between);
        .s__footer__nav{
            width: 100%;
            max-width: 800px;
            @include flex(row, flex-start, space-between);
            gap: 50px;
            .s__footer__nav__center{
                h3{
                    font-size: 20px;
                    color: var(--white);
                    font-family: 'Roboto', sans-serif;
                    margin-bottom: 20px;
                    font-weight: 500;
                }
                ul{
                    @include flex(column, flex-start, flex-start);
                    gap: 15px;
                    li{
                        font-size: 16px;
                        color: var(--gray-200);
                        font-family: 'Roboto', sans-serif;
                        font-weight: 500;
                        a{
                            font-size: 16px;
                            color: var(--gray-200);
                            font-family: 'Roboto', sans-serif;
                            font-weight: 500;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}