.section{
  width: 100%;
  height: calc(100vh - 9.6rem);
}
// Section Hero
#s__hero{
  background-color: var(--primary-orange);
  width: 100%;
  height: calc(100vh - 9.6rem);
  margin-top: -100px;
  padding-top: 100px;
}

#s__project{
  background-color: #8161F4;
}
#s__info{
  background-color: #9d85f3;
  width: 100%;
  height: calc(100vh - 9.6rem);
}
#s__planta{
  background-color: #263140;
}
#s__perspectiva{
  background-color: #2E3B4D;
}
#s__form{
  background-color: green;
  width: 100%;
  height: calc(100vh - 9.6rem);
}
#s__diferenciais{
  background-color: yellow;
  width: 100%;
  height: calc(100vh - 9.6rem);
}
#s__realizacao{
  background-color: orange;
  width: 100%;
  height: calc(100vh - 9.6rem);
}