.section{
  width: 100%;
  height: calc(100vh - 9.6rem);
}
// Section Hero
#s__hero{
  background-color: var(--primary-orange);
  width: 100%;
  height: calc(100vh);
  margin-top: -100px;
  .container{
    width: 100%;
    height: 100%;
    @include flex(column, center, flex-start);
    padding-top: 250px;
    .s__hero__logo__enjoy{
      padding-bottom: 120px;
    }
    .s__hero__logos{
      @include flex(row, center, center);
      gap: 100px;
      position: relative;
      &::after{
        content: "";
        top: -10%;
        left: 48%;
        width: 4px;
        height: 120%;
        background-color: var(--white);
        position: absolute;
      }
    }
  }
  // Responsive
  @media (max-width: 768px){
    .container{
      padding-top: 200px;
      .s__hero__logos{
        @include flex(column, center, center);
        gap: 30px;
        &::after{
          display: none;
        }
      }
    }
  }
  @media (max-width: 576px){
    .container{
      padding-top: 150px;
      .s__hero__logo__enjoy{
        width: 100%;
        max-width: 300px;
        padding-bottom: 60px;
      }
      .s__hero__logos{
        @include flex(column, center, center);
        gap: 40px;
        &::after{
          display: none;
        }
      }
    }
  }
}

#s__project{
  width: 100%;
  @include flex(row, flex-start, space-between);
  .s__project__left{
    width: 100%;
    max-width: 600px;
    span{

    }
    p{

    }
    .btn-quotes{

    }
  }
  .s__project__right{
    width: 100%;
    max-width: 500px;
    .slides__project{

    }
  }
}
#s__info{
  background-color: #9d85f3;
  width: 100%;
  height: calc(100vh - 9.6rem);
}
#s__planta{
  background-color: #263140;
}
#s__perspectiva{
  background-color: #2E3B4D;
}
#s__form{
  background-color: green;
  width: 100%;
  height: calc(100vh - 9.6rem);
}
#s__diferenciais{
  background-color: yellow;
  width: 100%;
  height: calc(100vh - 9.6rem);
}
#s__realizacao{
  background-color: orange;
  width: 100%;
  height: calc(100vh - 9.6rem);
}